/*
 * 778899- light slate gray (line separator in global and conversation panels)
 * 272822- sundried clay (main background)
 * 696969- dim gray (conversation background)
 * 2cb1e1- echo blue (on highlighted tab)
 */

.mainFxmlClass {
    -fx-background-color:#272822;
}

.messageListClass {
    -fx-color:#000000;
    -fx-background-color:#000000;
    column-rule-color:#000000;
    border-color:#000000;
}

.messageListClass .list-cell{
    -fx-background-color: #696969;
    -fx-text-fill: #ffffff;
    -fx-border-color: #778899;
    -fx-border-width: 0.08; 
}

.messageListClass .list-cell:focused {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.avitarListClass{
    -fx-color:#000000;
    -fx-background-color:#000000;
    column-rule-color:#000000;
    border-color:#000000;
}
.avitarListClass .list-cell{
    -fx-background-color: #696969;
    -fx-text-fill: #ffffff;
    -fx-border-color: #778899;
    -fx-border-width: 0.08;
}

.avitarListClass .list-cell:focused{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.splitPaneClass {
    -fx-background-color: #696969;
    -fx-border-color: #000000;
}

.splitPaneClass .split-pane-divider{
    -fx-background-color: #000000;
    -fx-border-color: #000000;
}

.nameLabelClass {
    -fx-text-fill: #ffffff;
}

.tabClass{
    -fx-border-radius: 200;
}

.tabClass .tab{
    -fx-background-color: #696969;
    -fx-text-fill: #BABAB8;
}

.tabClass .tab:selected{
    -fx-background-color: #0099CC;
    -fx-text-fill: #ffffff;
}

.tabClass .tab-content-area{
    -fx-text-fill: #ffffff;
}

.tabClass .tab-lable{
   -fx-text-fill: #ffffff; 
}

.tabClass .tab-header-background{
    -fx-background-color: #000000;
    -fx-opacity: 0;
}

.elipsClass {
    -fx-background-color: #EAEAEA;
    -fx-fill: #EAEAEA;
}

.statsText {
    -fx-fill: #ffffff;
}

.statsMessageListClass {
    -fx-color:#000000;
    -fx-background-color:#BABAB8;
    column-rule-color:#000000;
    border-color:#BABAB8;
}

.statsMessageListClass .list-cell{
    -fx-background-color: #BABAB8;
    -fx-text-fill: #D4F5FA; 
    -fx-border-color: #778899;
    -fx-border-width: 0.08;
}

.statsMessageListClass .list-cell:focused {
    -fx-background-color: #D4F5FA;
    -fx-text-fill: #000000;
}

.statespaneClass {
    -fx-background-color:#000000;
}

.statbuttonClass {
    -fx-background-color: #2cb1e1;
}

.webviewclass {
    -fx-background-color: #696969;
}